.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

  .home-image {
    position: absolute;
    animation: home-image-animate 1 1s ease;
  }
  .home-image.sunglasses {
    top: calc(50% + 50px);
    left: max(calc(50% - 750px), 70px);
    transform: rotate(-22.5deg);
  }
  .home-image.handshake {
    top: calc(50% + 125px);
    left: min(calc(50% + 600px), calc(100% - 650px));
    transform: rotate(12.25deg);
  }
  .home-image.sakura {
    top: calc(50% - 350px);
    left: min(calc(100% - 450px), calc(50% + 450px));
  }
  .home-image.fire {
    top: calc(50% - 400px);
    left: max(calc(50% - 900px), 50px);
  }
}

.example-container div {
  background: var(--container-primary);
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

.Home {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transition: opacity 0.1s;
  position: relative
}

.home-container {

  width: 100%;
  margin: auto;
}

.circle {
  background-color: var(--container-primary);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 64px;
  -moz-border-radius: 250px; 
   -webkit-border-radius: 250px; 
   border-radius: 250px;
}

@keyframes container-squeeze {
  0% {
    width: 100%;
    border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  100% {
    width: calc(100% - 64px);
    border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  }
}

@keyframes container-unsqueeze {
  0% {
    width: calc(100% - 64px);
    border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  }
  100% {
    width: 100%;
    border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
}

@keyframes container-shadow {
  0% {
    border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
  100% {
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  }
}

@keyframes container-unshadow {
  0% {
    border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 1px 15px 40px 5px rgba(0,0,0,0.075);
  }
  100% {
    border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
}

.cirlce-image {
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}

.email-textfield {
  padding-left: 16;
}

.cta-button {
  margin-bottom: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.cta-button:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
}

.cta-button:hover.dark {
  filter: brightness(150%);
  box-shadow: 0 10px 20px rgba(124, 82, 100);
}

.Home-link {
  color: #61dafb;
}


