.search-form {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.search-form.search-form_visible {
    opacity: 1;
}

.search-form.search-form_transparent {
    opacity: 0;
    pointer-events: none;
}

.search-form .form-control {
    background-color: var(--surface);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.search-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--onBackground);
    opacity: 0.5; /* Firefox */
  }
  
  .search-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--onBackground);
    opacity: 0.5; /* Firefox */
  }
  
  .search-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--onBackground);
    opacity: 0.5; /* Firefox */
  }

.search-form .form-control:focus {
    background-color: var(--background);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    color: var(--onBackground);
}
.search-form .form-control:focus.dark{
    background-color: var(--surface);
}

.search-form .form-control:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-form .form-control:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-form .form-control:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-form .form-control:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
