.app {
    color: var(--text-primary);
    background-color: var(--background);
    height: calc(100vh - 40px);
    font-size: large;
    font-weight: bold;
    transition: all .5s;
    text-align: center;
  }
  
  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    transition: all .5s;
  }