.app {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    text-align: center;
    animation: fadeIn;
    animation-duration: 2s;
  }

  
  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    transition: all .5s;
  }

  .cirlce-image.purple {
    left: 50%;
    top:0;
    transform: translate(-120%, -35%);
  }

  .cirlce-image.pink {
    left: 50%;
    top:0;
    transform: translate(20%, 35%);
  }

  @keyframes app-animate {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
  }
  
  h1 {
    font-weight: 600;
    letter-spacing: '-4px';
    max-width: '900px';
    line-height: '80px';
    color: 'var(--text-primary)';
    padding-bottom: '24px';
    margin: 0;
    z-index: 1;
  }